@model UserViewModel

@{
    Layout= "_LoginLayout";
}

<!-- Error page container start -->
<div class="bg-white border border-secondary border-3 rounded-3 py-4 px-5" style="max-width: 700px;">
    <div class="d-flex flex-column justify-content-center align-items-center">
            <div style="font-size: 80px; font-weight: 600;">404</div>
        <span class="fs-1 fw-semibold mb-3 text-center" >OOPS! PAGE NOT FOUND</span>
        <span class="mb-4 text-center fs-5">Sorry, the page you are looking for doesn't exist. If you think something is broken, contact to the Administrator.</span>
    </div>
</div>
<!-- Error page container end -->