@model List<ProductViewModal>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Rate</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model) {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Category</td>
                    <td>@product.ProductRate</td>
                    <td>@product.StockQuantity</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>