@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid row justify-content-center px-4">
    <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="fs-2 fw-semibold">Product Management</span>
            <button class="btn btn-outline-primary" onclick="ShowProductModal()">
                <i class="bi bi-plus-lg"></i> New Product
            </button>
        </div>
        <div class="bg-white shadow p-3" id="ProductListContainer"></div>
    </div>
</div>

<div id="addOrEditProductModalContainer"></div>
<div id="deleteModalContainer"></div>

<script>

    $(document).ready(function() {
        FetchProductList();
    })

    function ShowProductModal(id = 0) {
        $.ajax({
            url: '@Url.Action("GetAddOrEditProductModal", "Home")',
            type: 'GET',
            data: {productId: id},
            success: function(response) {
                $('#addOrEditProductModalContainer').html(response);
                $('#addOrEditProductModal').modal('show');
            },
            error: function() {
                toastr.error("Error!");
            }
        })
    }

    function FetchProductList() {
        $.ajax({
            url: '@Url.Action("GetProductList", "Home")',
            type: 'GET',
            success: function(response) {
                $('#ProductListContainer').html(response);
            },
            error: function() {
                toastr.error("Error!");
            }
        })
    }

    function ShowDeleteModal(id) {
        $.ajax({
            url: '@Url.Action("GetDeleteModal", "Home")',
            type: 'GET',
            data: { id: id},
            success: function(response) {
                $('#deleteModalContainer').html(response);
                $('.item-type').text("Product");
                $('#confirmDeleteModal').modal('show');
            },
            error: function() {
                toastr.error("Error!");
            }
        })
    }

    
    function ConfirmDelete() {
        var id = $('#itemId').val();

        $.ajax({
            url: '@Url.Action("DeleteProduct", "Home")',
            type: 'POST',
            data: {productId: id},
            success: function(response) {
                if(response.isSuccess) {
                    toastr.success(response.message);
                    $('#confirmDeleteModal').modal('hide');
                    FetchProductList();
                }
                else {
                    toastr.error(response.message)
                }
            },
            error: function() {
                toastr.error("Error!");
            }
        })
    }

</script>